# python/editors
*.codeintel
*.egg
*.eggs
*.egg-info/
*.mo
*.nja
*.py[co]
.benchmarks
.cache
.coverage
.idea
.mypy_cache
.ruff_cache
.ropeproject
.tmp
/.Python
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
build
htmlcov
dist
venv

# created from tests
export.ris

# extra benchmark data only for internal use (because of copyright)
benchmark_data
tests/test_benchmark_extra.py
benchmark_*.svg
