# python/editors
*.codeintel
*.egg
*.eggs
*.egg-info/
*.mo
*.nja
*.py[co]
.cache
.coverage
.idea
.mypy_cache
.ropeproject
.tmp
/.Python
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
build
dist
venv

# created from tests
export.ris
