# python/editors
*.codeintel
*.egg
*.egg-info/
*.mo
*.nja
*.pyc
.cache
.coverage
.idea
.ropeproject
.tmp
/.Python
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
build
dist
venv

# created from tests
export.ris
